* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(
                45deg,
                rgb(118, 201, 255),
                rgb(247, 255, 222)
                );
}

.left-mountain {
    width: 300px;
    height: 300px;
    position: absolute;
    transform: skew(0deg, 44deg);
    z-index: 2;
    margin-top: 100px;
    background: linear-gradient(rgb(203, 241, 228), rgb(80, 183, 255));
}

.back-mountain {
    width: 300px;
    height: 300px;
    position: absolute;
    z-index: 1;
    transform: rotate(45deg);
    left: 110px;
    top: 225px;
    background: linear-gradient(rgb(203, 241, 228), rgb(47, 170, 255)); 
}

.sun {
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: absolute;
    border-radius: 50%;
    right: -75px;
    top: -75px;
}

.penguin {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-top: 75px;
    position: relative;
    z-index: 4;
}

.penguin-head {
    width: 50%;
    height: 45%;
    border-radius: 70% 70% 65% 65%;
    background: linear-gradient(
                45deg, 
                gray, 
                rgb(239, 240, 228)
                );
    
}

.penguin-body {
    width: 53%;
    height: 45%;
    border-radius: 80% 80% 100% 100%;
    background: linear-gradient(
                45deg,
                rgb(134, 133, 133) 0%,
                rgb(234, 231, 231) 25%,
                white 67%  
                )
                ;
}

.penguin * {
    position: absolute;
  }

.ground {
    width: 100vw;
    height: 400px;
    z-index: 3;
    position: absolute;
    margin-top: -58px;
    background: linear-gradient(90deg, 
                rgb(88, 175, 236), 
                rgb(182, 255, 255)
                );
  }